@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import 'variables';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
.container{
    max-width: 1280px;
    margin: 0 auto;
    font-family: Montserrat,sans-serif;
}

.top{
    background: #0C0537;
    padding: 13px 20px;
}

.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    .nav{
        display: flex;
        &__link{
            display: flex;
            align-items: center;
            gap: 10px;
            font-family: Montserrat, sans-serif;
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 17px;
            color: #FFFFFF;
            text-decoration: none;
            transition: all 0.2s;

            &_yellow{
                color: $yellow;
            }
            &:hover{
                color: $yellow;
            }

            &:not(:first-child){
                margin-left: 40px;
            }
        }

        .btn{
            padding: 14px 20px;
            border: 1px solid $milk;
            transition: all 0.2s;
            border-radius: 4px;

            &:hover{
                border-color: $yellow;
                color: #FFFFFF  ;
            }
        }
        #close-burger{
            display: none;
        }

       
    }

    #burger{
        display: none;
    }
}

.content{
    padding: 15px 20px;
    .branch{
        font-weight: 500;
        font-size: 12px;
        line-height: 15px;
        color: #7C7C7C;
        text-decoration: none;
        margin: 15px 0px;
    }
}

.main{
    background-color: rgba($color: #E5E5E5, $alpha: 0.2);
    padding: 0px 20px;
    padding-bottom: 50px;
    .title{
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;  
        color: #535353;
        padding: 45px 0px;

        &_md{
            font-weight: bold;
            font-size: 16px;
            line-height: 40px;
            color: #535353;
            padding: 0;
            
        }
    }
    
}

.yellow{
    color: #FFC94F;
}

.home{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    justify-content: space-between;
    
    .home-tab{
        &__title{
            font-weight: 800;
            font-size: 36px;
            line-height: 40px;         
            color: #535353;
        }

        &__text{
            font-size: 14px;
            line-height: 22px;
            padding: 20px 0px;
            color: #535353;
        }

        
    }

    

    .home-slide{
        display: flex;
        align-items: flex-end;
        gap: 10px;

        .column{
            display: flex;
            gap: 10px;
            align-items: center;
            flex-direction: column;
        }
        .img{
            width: 100%;
        }

        .slider{
            border: 1px solid #EDEDED;
            border-radius: 3px;
            cursor: pointer;
            padding: 8px 12px;
            stroke: #535353;
            transition: all 0.2s;

            &:hover{
                background-color: #3D4F64;
                stroke: white;
            }
        }
        
    }
}

.catalog-title{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    font-weight: 800;
    margin-top: 100px;
    font-size: 20px;
    margin-bottom: 65px;
    line-height: 40px;
    color: #535353;
}

.catalog{
    display: flex;
    gap: 10px;
    padding: 0px 10px;
    .catalog-group{

        &__yellow-text{
            font-weight: bold;
            font-size: 16px;
            line-height: 24px;
            margin-top: 20px;
            color: #FFC94F;
        }

        &__text{
            font-size: 14px;
            line-height: 22px;
            max-width: 250px;
            color: #535353;
        }

        
    }
}

.btn-2{
    padding: 14px 55px;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #535353;
    background: #FFC94F;
    border: 1px solid $yellow;
    transition: all 0.3s;
    border-radius: 2px;
    cursor: pointer;

    &:hover{
        background-color: transparent;
    }

    &_blue{
        background: #3D4F64;
        border-radius: 2px;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;   
        border: none;
        color: #FFFFFF;
        padding: 14px 70px;
        cursor: pointer;
        margin: 40px 0px;

        &:hover{
            opacity: 0.7;

        }
    }

    
    
}

.choise{
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #535353;
    padding: 10px  0px ;
    transition: all 0.2s;
    border-top: 1px solid #EFEFEF;

    &:hover{
        color: $yellow;
    }
}
.catalog-img{
    width: 100%;
}

.service-title{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    font-weight: 800;
    margin-top: 100px;
    font-size: 20px;
    margin-bottom: 65px;
    line-height: 40px;
    color: #535353;
}
.accordion {
    background-color: transparent;
    font-weight: bold;
    font-size: 16px;
    line-height: 40px;
    color: $darkGrey;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  
  }
  
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;

    &__text{
        line-height: 24px;
        font-size: 14px;
        margin-left: 90px;
        color: $darkGrey;
        
    }
  }

  .news-title{
    display: flex;
    align-items: center;
    padding: 0px 10px;
    gap: 10px;
    font-weight: 800;
    margin-top: 100px;
    font-size: 20px;
    margin-bottom: 65px;
    line-height: 40px;
    color: $darkGrey;
  }

  .card{
    position: relative;
    border: 1px solid #EAEAEA;
    padding: 20px;
    max-width: 300px;
    transition: all 0.2s;

    &:hover{
        box-shadow: 0px 0px 30px rgba(255, 201, 79, 0.3);
        .card__price{
            color:$yellow;
        }

        .svg{
            fill: $yellow;
        }
    }

    .data{
        position: absolute;
        top: 0;
        left: 0;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
        color: #3D4F64;
        background-color: $yellow;
        padding: 5px 15px;
        
    }

    .card-img{
        margin: 70px auto;
    }

    &__title{
        font-weight: bold;
        font-size: 14px;
        line-height: 22px;
        color: $darkGrey;
    }

    &__list{
        display: flex;
        align-items: center;
        gap: 10px;
        margin-top: 10px;
        font-weight: 300;
        font-size: 14px;
        line-height: 21px;
        color: $darkGrey;
        
    }

    &__price{
        display: flex;
        align-items: center;
        gap: 10px;
        font-weight: bold;
        font-size: 20px;
        line-height: 21px;
        transition: all 0.2s;
        color: $darkGrey;
        padding-top: 16px;
        padding-bottom: 60px;
    }

    &__more{
        position: absolute;
        display: flex;
        align-items: center;
        bottom: 0;
        left: 0;
    }

    &__btn{
        font-weight: bold;
        font-size: 24px;
        line-height: 45px;
        color: #535353;
        background: #FFFFFF;
        border: 1px solid #EAEAEA;
        padding: 0px 20px;
        cursor: pointer;
    }


    &__btn-blue{
        background: #3D4F64;
        font-weight: bold;
        font-size: 14px;
        line-height: 17px;   
        border: none;
        color: #FFFFFF;
        padding: 15px 83px;
        cursor: pointer;
    }
}


.row{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 15px;

}
.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.document{
    display: flex;
    align-items: center;

    &__title{
        font-weight: 800;
        font-size: 20px;
        line-height: 24px;
        transform: translateX(-66px);
        color: #505050;
        
    }
}

.center{
    text-align: center;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
    margin-bottom: 30px;
}

.scroll{
    
    &::-webkit-scrollbar{
        width: 3px;
        
    }

    &::-webkit-scrollbar-track{
        background-color: #E5E5E5;;
    }

    &::-webkit-scrollbar-thumb{
        background-color: $yellow;
    }
    max-width: 850px;
    width: 100%;
    height: 150px;
    overflow-y: scroll;
    .scroll-group{
        display: flex;
        justify-content: space-between;
        border-bottom: 1px solid $milk;
        padding: 0px 10px;

        &__btn{
            background: transparent;
            outline: transparent;
            border: none;
            cursor: pointer;
        }
        &__downloader{
            display: flex;
            align-items: center;
            gap: 20px;
        }
        &__title{
            font-weight: 500;
            font-size: 14px;
            line-height: 45px;       
            color: #505050;
        }

        &__text{
            font-weight: bold;
            font-size: 14px;
            line-height: 45px;
            color: #656565;
            cursor: pointer;
            transition: all 0.3s;

            &:hover{
                color: $yellow;
            }
        }
    }
}

.question{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 50px 0px;
    padding: 0px 15px;
    .question-title{
        display: flex;
        align-items: center;
        &__text{
            font-weight: 800;
            max-width: 400px;
            font-size: 24px;
            line-height: 34px;
            transform: translateX(-55px);
            color: #535353;
        }
    }

    .form{
        max-width: 350px;
        width: 100%;
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        gap: 15px;
        .input{
            font-size: 14px;
            line-height: 17px;
            color: #535353;
            border: none;
            border-bottom: 1px solid #EFEFEF;
            padding: 10px;
            outline: none;
            width: 100%;
        }

        .textarea{
            font-size: 14px;
            line-height: 17px;
            color: #535353;
            border: none;
            border-bottom: 1px solid #EFEFEF;
            padding: 10px;
            outline: none;
            width: 100%;
        }
    }
}

.bottom{
    background-color: $blue;
    
}

.footer{
    display: flex;
    padding: 40px 20px;
    justify-content: space-between;
    color: #FFFFFF;
    

    .copy{
        font-weight: 500;
        font-size: 11px;
        line-height: 18px;
        margin-top: 15px;
    }

    .catalog{
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: flex-start;

        &__title{
            font-weight: 500;
            font-size: 14px;
            line-height: 30px;
        }

        &__link{
            display: flex;
            align-items: center;
            gap: 10px;
            text-decoration: none;
            font-weight: 500;
            font-size: 12px;
            color: #FFFFFF;
            line-height: 24px;

            &:hover{
                text-decoration: underline;
                color: $yellow;
            }

        }
    }
}


// About

.location{
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 500;
    font-size: 12px;
    padding: 0px 15px;
    line-height: 15px;
    margin: 17px auto;
    text-decoration: none;
    color: #7C7C7C;
    
}

.main{

    .title{
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #535353;
    }
}

.tab {
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  
  .tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    font-weight: 500;
    font-size: 16px;
    line-height: 40px;
    color: #535353;
    
    cursor: pointer;
    padding: 8px 16px;
    transition: 0.3s;
    width: 100%;
    border-bottom: 1px solid #EDEDED;
  }
  
  .tab button:hover {
    color: blue;
  }
  
  .tab button.active {
    background-color: #3D4F64;
    color: #FFFFFF;
  }
  
  .tabcontent {
    display: none;
    padding: 6px 12px;
    border-top: none;

    p{
        font-weight: 300;
        font-size: 14px;
        line-height: 24px;   
        color: #535353;
    }
  }
  .tab-2 {
    float: left;
    width: 30%;
    height: 300px;

    svg{
        display: none;
    }
  }
  .solution-group{
    display: none;
    .solution-title{
        font-weight: bold;
        font-size: 24px;
        line-height: 40px;
        color: #535353;
        
    }

    .solution-img{

        font-weight: 800;
        font-size: 18px;
        line-height: 40px;
        color: #535353;
        img{
            width: 100%;
        }
    }
}
  
.solution{
    height: 500px;
}
  .tab-2 button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 22px 16px;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    outline: none;
    text-align: left;
    font-weight: bold;
    font-size: 14px;
    line-height: 22px;
    color: #535353;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  .tab-2 button:hover {
    color: rgb(95, 95, 238);
  }
  
  .tab-2 button.active {
    background-color: $blue;
    color: #FFFFFF;
    svg{
        display: block;
    }
  }
  
  .tabcontents {
    float: left;
    padding: 0px 12px;
    width: 70%;
    border-left: none;
    height: 300px;

    img{
        width: 100%;
    }

    
  }
@media only screen and (max-width: 1200px){
    .header {
        .nav{
            .btn{
                display: none;
            }
        }
    }

    .flex{
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 20px;

        .card{
            margin: 0 auto;
        }
    }

    .tab{
        .tablinks{
            font-size: 14px;
        }
    }
}

@media only screen and (max-width: 992px){
    .header {
        .nav{
            display: block;       
        }

        .nav{
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $primary;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 20px;
            justify-content: center;
            transform: translateY(-100%);
            transition: all 0.2s;
            .nav__link{
                font-size: 16px;
                margin: 0;

             
                &_yellow{
                    position: relative;
                    padding-bottom: 20px;
                    width: 100%;
                    font-weight: 600;
                    display: flex;
                    justify-content: center;
                    &::after{
                        content: '';
                        position: absolute;
                        right: 10px;
                        left: 10px;
                        bottom: 0;
                        max-width: 100%;
                        height: 1px;
                        background-color: $grey;
                    }
                }
            }

            .btn{
                display: block;
            }

            #close-burger{
                position: absolute;
                top: 20px;
                right: 20px;
                font-size: 50px;
                font-weight: 600;
                transform: rotate(45deg);
                display: block;
                color: $yellow;
                transition: all 0.2s;

                &:hover{
                    transform: rotate(90deg);
                }
            }

        }

        #burger{
            display: block;
        }

        .nav.active{
            transform: translateX(0);
        }

     
        
    }
    .tab{
        flex-direction: column;
    }

}

@media only screen and (max-width:768px){

    .solution{
        display: none;
    }

    .solution-group{
        display: block;
    }
    .footer{
        flex-direction: column;
        gap: 20px;
    }
    .home{
        flex-direction: column-reverse;
        gap: 40px;
        .home-slide{
            gap: 0px;
        }
    }

    .row{
        flex-wrap: wrap;
        justify-content: center;
        gap: 50px;
    }

    

    .question{
        flex-wrap: wrap;

        .form{
            max-width: inherit;
            align-items: normal;
        }

    }
}
@media only screen and (max-width:1280px) {
    .slider{
        display: none;
    }
    .catalog{
        flex-direction: column-reverse;
    }
}

@media only screen and (max-width:620px) {
    .flex{
        flex-direction: column;
        display: flex;
    }

    .accordion{
        flex-direction: column;
        gap: 10px;
        text-align: center;

    }

    .scroll .scroll-group__text{
        display: none;
    }
}